<h1>Profile</h1>
First Name:
<input [ngClass]="'wbdv-field wbdv-firstname'"/>
<br/>
Last Name:
<input [ngClass]="'wbdv-field wbdv-lastname'"/>
<br/>
Password:
<input type="password"/>
<br/>
Date of Birth:
<input type="date"/>
<br/>
Email:
<input type="email" [ngClass]="'wbdv-field wbdv-email'"/>
<br/>
Phone:
<input type="number" [ngClass]="'wbdv-field wbdv-phone'" />
<br/>
<br/>
<button [ngClass]="'wbdv-field wbdv-update'">Update profile</button>
<a routerLink="/login">
    <button [ngClass]="'wbdv-field wbdv-logout'">
        Logout
    </button>
</a>
<a routerLink="/admin-users">
    <button>
        Users
    </button>
</a>
